################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DayTodayTransactions/.vs/DayTodayTransactions
/DayTodayTransactions/bin
/DayTodayTransactions/obj
/DayTodayTransactionsService/obj
/DayTodayTransactionsService/bin/Release
/DayTodayTransactionsLibrary/bin
