################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DayTodayTransactions/.vs/DayTodayTransactions
/DayTodayTransactions/bin
/DayTodayTransactions/obj
/DayTodayTransactionsService/obj
/DayTodayTransactionsService/bin/Release
/DayTodayTransactionsLibrary/bin
/DayTodayTransactionsService/bin/Debug/net9.0-android/DayTodayTransactionsLibrary.dll
/DayTodayTransactionsService/bin/Debug/net9.0-android/DayTodayTransactionsLibrary.pdb
/DayTodayTransactionsService/bin/Debug/net9.0-android/DayTodayTransactionsService.dll
/DayTodayTransactionsService/bin/Debug/net9.0-android/DayTodayTransactionsService.pdb
/DayTodayTransactionsService/bin/Debug/net9.0-ios
/DayTodayTransactionsService/bin/Debug/net9.0-maccatalyst
/DayTodayTransactionsService/bin/Debug/net9.0-windows10.0.19041.0/DayTodayTransactionsLibrary.dll
/DayTodayTransactionsService/bin/Debug/net9.0-windows10.0.19041.0/DayTodayTransactionsLibrary.pdb
/DayTodayTransactionsService/bin/Debug/net9.0-windows10.0.19041.0/DayTodayTransactionsService.dll
/DayTodayTransactionsService/bin/Debug/net9.0-windows10.0.19041.0/DayTodayTransactionsService.pdb
/DayTodayTransactionsLibrary/obj/Debug/net9.0/DayTodayTransactionsLibrary.AssemblyInfo.cs
/DayTodayTransactionsLibrary/obj/Debug/net9.0/DayTodayTransactionsLibrary.AssemblyInfoInputs.cache
/DayTodayTransactionsLibrary/obj/Debug/net9.0/DayTodayTransactionsLibrary.dll
/DayTodayTransactionsLibrary/obj/Debug/net9.0/DayTodayTransactionsLibrary.pdb
/DayTodayTransactionsLibrary/obj/Debug/net9.0/DayTodayTransactionsLibrary.sourcelink.json
/DayTodayTransactionsLibrary/obj/Debug/net9.0/ref/DayTodayTransactionsLibrary.dll
/DayTodayTransactionsLibrary/obj/Debug/net9.0/refint/DayTodayTransactionsLibrary.dll
/Core.Controls/bin/Debug
/Core.Controls/obj
/DayTodayTransactions/.vs/ProjectEvaluation
/DayTodayTransactionsService/bin/Debug/net9.0-windows10.0.19041.0/DayTodayTransactionsService.deps.json
